.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pageContainer h1 {
  align-self: flex-start;
}
.textContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.textContent button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #4f46e5;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
.textContent button svg {
  stroke: white;
  width: 20px;
}

.keyboardContainer {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  gap: 5px;
  width: max-content;
  background: rgb(215, 216, 217);
  padding: 10px;
  border-radius: 8px;
}
.key {
  padding: 10px 4px;
  text-align: center;
  border: 1px solid #ccc;
  background: #f5f5f5;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.1s;
}

.key.active {
  background: #222;
  color: white;
}
.key.pressed {
  background: #4f46e5 !important;
  color: white;
}
.tab,
.backspace,
.shiftLeft,
.numpadZero,
.enter,
.caps {
  grid-column-end: span 2;
}
.space {
  grid-column-end: span 6;
}
.shiftRight {
  grid-column-end: span 3;
}
.numpadAdd {
  grid-row: 3 / 5;
  grid-column: 19;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numpadEnter {
  grid-row: 5 / 7;
  grid-column: 19;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftClick {
  grid-column: 6/9;
  padding: 15px 0;
  border-bottom-left-radius: 15px;
}
.rightClick {
  grid-column: 10/13;
  border-bottom-right-radius: 15px;
}

.middleClick {
  grid-column: 9;
}
